<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Welcome</title>
</head>
<body id="accountbkgrnd">
    <div id="heading">
        <div id='top'>
            <h4>Card Tracker</h4>
            <div class="sub">
                <a href="/account/{{user.id}}" class="btnbox">My Cards</a>
                <h1>Welcome back, {{user.first_name}}!</h1>
            </div>
        </div>
        <div id="bot">
            <h5></h5>
            <div class='sub'>
                <a href="/allcards" class="btnbox">View All Cards</a>
                <a href="/logout" class="btnbox">Logout</a>
            </div>
        </div>
    </div>
    <div>
        <table id="table" class="table-primary table bordered">
            <thead>
                <tr>
                    <th scope="col">Card</th>
                    <th scope="col">League</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {%for cards in card%}
                <tr>
                    <td>{{cards.title}}</td>
                    <td>{{cards.league}}</td>
                    <td><a href="/delete/{{cards.id}}">Delete</a>
                        <a href="/edit/cad/{{cards.id}}">Edit</a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <a href="/newcard" class="btnbox">Add a Card</a>
    </div>
</body>
</html>